.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}
.productItem {
  width: 260px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  font-size: 14px;
  font: Arial, Helvetica, sans-serif;
  margin-left: 4px;
  
  }
.productItem img {
  width: 100%;
  margin-bottom: 5px;
}
.title {
  font-size:16px;
  font: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.price {
  display: flex;
  font-size:21px;
  

}
.ships {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.priceSmaller {
  font-size: 12px;
  position: relative;
  padding-top: 4px;
  }
  .search {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top:10px;
  }
  .search > input{
    font-size: 16px;
  }
  .h1 {
    text-align: center;
  }
  .form {
       text-align: center;
  }
  .image{
    max-width: 250px;
    max-height: 275px;
  }
  